.button {
	outline: none;
	border-radius: 10px;
	border: 1px solid #3c3c3c;
	background-color: white;
	width: 200px;
	height: 40px;
	font-size: 1rem;
	cursor: pointer;
	transition: .2s;
	font-family: 'Exo', sans-serif;
	color: black;
}

button:hover {
	opacity: 0.7;
	background-color: rgb(240, 240, 240);
}

@media (min-width: 1024px) {
  .button {
    font-size: 1.25rem;
  }
}