.location {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.location__container {
	margin-top: 20px;
	max-width: 320px;
}

@media (min-width: 600px) {
  .location__container {
    max-width: 750px;
  }
}


.line__img {
	width: 110%;
	max-width: 1024px;
	height: auto;
	transform: rotate(165deg);
  margin-top: -50px;
}

.rotate180 {
	transform: rotate(180deg);
}
