.intro {
 margin-top: 150px;
}

.intro__img-container {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items:start;
}

.lefthand {
	width: 40%;
	max-width: 315px;
	height: auto;
	margin-top: 25px;
}

.righthand {
	width: 60%;
	max-width: 460px;
	height: auto;
	top: 30px;
}